.founder
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    img
        width: 25%
        margin: auto
    section
        width: 50%
        h2
            color: #FDDE01
            background: black
            padding: 20px
            font-size: 2rem
            text-align: right
        ul
            width: 95%
            li
                font-size: 1.25rem
                margin: 20px 0;
                padding-left: 10px
            li::marker
                content: "⬢"