.mission
    display: flex
    flex-direction: column
    h2
        color: #FDDE01
        background: black
        width: 25%
        padding: 20px
        font-size: 2rem
        text-align: right
