.mission
    display: flex
    flex-direction: column
    width: 100%
    h2
        color: #FDDE01
        background: black
        width: 25%
        padding: 20px
        font-size: 2rem
        text-align: right
    ul
        width: 50%
        li
            font-size: 1.25rem
            margin: 20px 0;
            padding-left: 10px
        li::marker
            content: "⬢"